.disappear {
  animation: fadeOutAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
    }
  75% {
    opacity: 0;
  }

  100% {
      opacity: 0;
  }
}

.emphasize {
  animation: changeWeightAnimation 10s;
  animation-iteration-count: 1;
}

@keyframes changeWeightAnimation {
  0% {
    font-weight: 400; /* normal */
  }

  10% {
    font-weight: 500; /* normal */
  }

  20% {
    font-weight: 600; /* normal */
  }

  30% {
    font-weight: 700; /* normal */
  }

  40% {
    font-weight: 800; /* normal */
  }

  50% {
    font-weight: 700; /* normal */
  }

  60% {
    font-weight: 600; /* normal */
  }

  70% {
    font-weight: 500; /* normal */
  }

  80% {
    font-weight: 400; /* normal */
  }

}

div.tickets label {
  font-weight: bold;
  display: block;
}

div.tickets div.row {
  margin-top: 1.5em;
}

div.ticket-show label {
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

div.order-list .row, div.ticket-list .row {
  margin-bottom: 1em;
  border-bottom: thin solid black;
}